<div class="menu-group" layout="column" ng-init="open=true"
  ng-repeat="menu in submenus">

  <div class="menu-toolbar" layout="row" layout-align="start center" ng-click="menu.open=!menu.open">
    <md-icon class="menu-icon mdi" ng-class="menu.icon">
    </md-icon>
    <div class="name">{{::menu.name}}</div>

    <div flex></div>

    <md-button class="md-icon-button toggle-open"
      aria-label="Close/Open">
      <md-icon md-font-icon="mdi mdi-chevron-down" ng-hide="menu.open"></md-icon>
      <md-icon md-font-icon="mdi mdi-chevron-up" ng-show="menu.open"></md-icon>
    </md-button>
  </div>

  <div class="menu-content" ng-show="menu.open" ng-include="::menu.template">
  </div>
</div>
